.homeContainer{
  height:100vh;
  width: 65%;
}

.highlites{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0 37px;
  padding: 0px 50px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 1px;
}
