* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'manjari';
}

.container {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
}

.content{
  width: 82%;
  height: 100vh;
  display: flex;
}

.highliteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px 0;
}
.highliteContainer p {
  font-size: 11px;
  font-weight: 100;
  font-family: "Nimbus Sans";
}

.highliteImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  outline: 1px solid  rgb(26, 26, 27 , 0.5);
}

.highliteImage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}